<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apirest">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_sigtec"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_sigtec"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.vendas.ano.PedidosCanceladosVendaAnoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.vendas.ano.TotalPedidosVendaAnoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.vendas.ano.RelatorioDeVendasAnoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.vendas.mes.PedidosCanceladosVendaMesActivity"
            android:exported="false" />
        <activity
            android:name=".activity.vendas.mes.TotalPedidosVendaMesActivity"
            android:exported="false" />
        <activity
            android:name=".activity.vendas.mes.RelatorioDeVendasMesActivity"
            android:exported="false" />
        <activity
            android:name=".activity.vendas.semana.PedidosCanceladosVendaSemanaActivity"
            android:exported="false" />
        <activity
            android:name=".activity.vendas.semana.TotalPedidosVendaSemanaActivity"
            android:exported="false" />
        <activity
            android:name=".activity.vendas.semana.RelatorioDeVendasSemanaActivity"
            android:exported="false" />
        <activity
            android:name=".activity.vendas.InformacoesPedidosCanceladoVendaActivity"
            android:exported="false" />
        <activity
            android:name=".activity.vendas.InformacoesTotalPedidosVendaActivity"
            android:exported="false" />
        <activity
            android:name=".activity.vendas.dia.PedidosCanceladosVendaDiaActivity"
            android:exported="false" />
        <activity
            android:name=".activity.vendas.dia.TotalPedidosVendaDiaActivity"
            android:exported="false" />
        <activity
            android:name=".activity.produtos.InformacoesProdutosRelatorioActivity"
            android:exported="false" />
        <activity
            android:name=".activity.checkout.RelatorioCheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".activity.contas.RelatorioContasActivity"
            android:exported="false" />
        <activity
            android:name=".activity.checkout.MovimentacaoCaixaActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.vendas.InformacoesPedidoVendaActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.vendas.dia.RelatorioDeVendasDiaActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.produtos.dia.RelatorioDeProdutosVendasDiaActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.NavetagionActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.empresa.PersonaActivity"
            android:label="Nuevo Usuario">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
    </application>

</manifest>